ENV="development"

HOST="localhost"
PORT=":3000"

APP_URL=""
GOOGLE_LOGIN_API="/auth/google/login"
GOOGLE_CALLBACK_API="/auth/google/callback"
GITHUB_LOGIN_API="/auth/github/login"
GITHUB_CALLBACK_API="/auth/github/callback"
LOGIN_API="/auth/login"
SIGNUP_API="/auth/signup" 
LOGOUT_API="/auth/logout"
PROJECT_API="/api/projects"
UPDATE_PROJECT_API="/api/projects/{projectID}"
STREAM_LOGS_API="/api/projects/{projectID}/deployments/{deploymentID}/logs"
TRIGGER_DEPLOYMENT_API="/api/projects/{projectID}/deployments"
LIST_DEPLOYMENTS_API="/api/projects/{projectID}/deployments"
GET_DEPLOYMENT_API="/api/projects/{projectID}/deployments/{deploymentID}"
DELETE_DEPLOYMENT_API="/api/projects/{projectID}/deployments/{deploymentID}"


JWT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

DATABASE_URL="postgres://postgres:postgres@localhost:5433/app_dev?sslmode=disable"

DOCKER_TIMEOUT=600

ARTIFACTS_DIR="./artifacts"